<div class="row">
	<div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 relation-ships">
		<h2>Follows Users</h2>
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>Image</th>
					<th>Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
				<tr>
					<td><%= link_to user_path(user),data: {"turbolinks" => false} do %>
								<%= attachment_image_tag user, :profile_image, size:'50x50', format:'jpg',fallback: "no_image.jpg",class:'user-index-image' %>
						    <% end %>
						</td>
						<td>
							<% if @user.followers.where(id: user.id).exists? %>
								<% if user == current_user %>

								<% else %>
								あなたをフォローしています
								<br>
								<% end %>
							<% end %>
							<%= link_to user.name, user_path(user),data: {"turbolinks" => false} %></td>
						
					<td width="20%"id="follow-button_<%= user.id %>">
					<%= render 'relationships/followbutton', user:user %>
					</td>	
 				</tr>
 					<% end%>
 			</tbody>
		</table>
 	</div>
</div>