<div class= "row">
	<!-- プロフィール左側 -->
	<div class= "col-xs-3">
		<div class= "user-box">
			<%= attachment_image_tag @user, :profile_image, size:'250x250', format:'jpg',fallback: "no_image.jpg" %>
			<table class="table table-hover table-inverse" id="user-profile">
				<tr>
					<td class="profile-name">name:<span><%= @user.name %></span></td>
				</tr>
				<% unless @user.prefecture_name == nil %>
				<tr class="profile-prefecture-tr">
					<td class="profile-prefecture">所属:<span><%= @user.prefecture_name %></span></td>
				</tr>
				<% end %>
			</table>
			<div id ="follow-button_<%= @user.id %>" class="follow-button-space">
				<%= render 'relationships/followbutton', user: @user %>
			</div>
		</div>
	</div>
		<!-- プロフィール右側 -->
		<div class= "col-xs-9">
			<div class= "navbar">
				<div class="user-button">
					<span class="profile-link prof-post-count"><%= "投稿件数:#{@post_images.count}" %></span>
						<button class="profile-link"><%= link_to "主催イベント", events_path(event_case: "now",user_id: @user.id) %></button>
						<button class="profile-link"><%= link_to "過去イベント", events_path(event_case: "log",user_id: @user.id) %></button>
						<button class="profile-link"><%= link_to "follow:#{@user.followings.count}", user_follows_path(user_id: @user.id) %></button>
						<button class="profile-link"><%= link_to "follower:#{@user.followers.count}", user_followers_path(user_id: @user.id) %></button>
						<% if @user.id == current_user.id %>
						<button class="profile-link"><%= link_to "DM", rooms_path %>
						</button>

						<% else %>
							<% if @isroom == true %>
								<button class= "profile-link"><a href="/rooms/<%= @roomid %>">DM</a></button>
							<% else %>
								<button class="profile-link">
									<%= form_for @room do |f| %>
										<%= fields_for @entry do |e| %>
											<%= e.hidden_field :user_id, :value=> @user.id %>
										<% end %>
										<%= f.submit "DM", class:'dmbutton' %>
									<% end %>
								</button>
							<% end %>
						<% end %>
						<%if @user == current_user %>
							<button class="profile-link notification"><%=link_to "通知",notifications_path, class:"notification-btn" %>
								<% if unchecked_notifications.any? %>
									<i class="fa fa-circle notification-circle" style="color: gold;"></i>
								<% end %>
							</button>
						<% end %>
						<% if @user == current_user %>
							<button class="profile-link"><%= link_to "会員情報編集", edit_user_path(@user) %></button>
						<% end %>
					</div>
		    </div>
			<div class="user-introduction">
				<%= @user.introduction %>
			</div>
		</div>
</div>
<div class= "row">
	<div class= "contents-box">
		<% @post_images.each do |image| %>
			<div class= "post-image-index-post-box">
				<p class= hashtag-image-box-top>
					<%= image.created_at.strftime("%Y/%m/%d") %>
				</p>
	  			<%= link_to post_image_path(image),data: {"turbolinks" => false}  do %>
	  				<ul class="usslider">
	  					<% image.post_image_images.each do |post| %>
	  						<li>
								<%= attachment_image_tag post, :image ,size:'200x150', format:'jpg',class:"image" %>
							</li>
						<% end %>
					</ul>
	  			<% end %>
			</div>
		<% end %>
	</div>
</div>
<div class="image-index-pagination" data-turbolinks="false">
<%= paginate @post_images,class:"paginate" %>
</div>