<div class= "row">
	<!-- プロフィール左側 -->
	<div class= "col-xs-3">
		<div class= "user-box">
			<%= attachment_image_tag @user, :profile_image, size:'100x100', format:'jpg',fallback: "no_image.jpg" %>
			<table class="table table-hover table-inverse">
				<tr>
					<td>name:<%= @user.name %></td>
				</tr>
				<% unless @user.prefecture_name == nil %>
				<tr>
					<td>所属:<%= @user.prefecture_name %></td>
				</tr>
				<% end %>
			</table>
			<div id ="follow-button_<%= @user.id %>">
				<%= render 'relationships/followbutton', user: @user %>
			</div>
		</div>
	</div>
		<!-- プロフィール右側 -->
		<div class= "col-xs-9">
			<div class= "navbar">
				<nav>
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-link"><%= link_to "会員情報編集", edit_user_path(@user) %></li>
						<li class="nav-link"><%= link_to "主催イベント", events_path(event_case: "now",user_id: @user.id) %></li>
						<li class="nav-link"><%= link_to "過去イベント", events_path(event_case: "log",user_id: @user.id) %></li>
						<li class="nav-link"><%= "投稿件数:#{@post_images.count}" %></li>
						<li class="nav-link"><%= link_to "follow:#{@user.followings.count}", user_follows_path(user_id: @user.id) %></li>
						<li class="nav-link"><%= link_to "follower:#{@user.followers.count}", user_followers_path(user_id: @user.id) %></li>
						<% if @user.id == current_user.id %>

						<% else %>
							<% if @isroom == true %>
								<li><a href="/rooms/<%= @roomid %>">DM</li>
							<% else %>
								<li><%= form_for @room do |f| %>
										<%= fields_for @entry do |e| %>
											<%= e.hidden_field :user_id, :value=> @user.id %>
										<% end %>
										<%= f.submit "DM" %>
									<% end %>
								</li>
							<% end %>
						<% end %>
						<li class="nav_link"><%=link_to "通知",notifications_path %></li>
					</ul>
				</nav>
		    </div>
			<div class="user-introduction">
				<%= @user.introduction %>
			</div>
		</div>
</div>
<div class= "row">
	<div class= "contents-box">
		<% @post_images.each do |postimage| %>
		    <%= link_to post_image_path(postimage) do %>
		   	    <% postimage.post_image_images.each do |postimageimage| %>
			  		<%= attachment_image_tag postimageimage, :image,size:'150x120' %>
				<% end %>
		 	<% end %>
		<% end %>
	</div>
	<%= paginate @post_images,class:"paginate" %>
</div>