<div class= "row">
	<!-- プロフィール左側 -->
	<div class= "col-xs-3">
		<div class= "user-box">
			<%= attachment_image_tag @user, :profile_image, size:'250x250', format:'jpg',fallback: "no_image.jpg" %>
			<table class="table table-hover table-inverse" id="user-profile">
				<tr>
					<td class="profile-name">name:<span><%= @user.name %></span></td>
				</tr>
				<% unless @user.prefecture_name == nil %>
				<tr>
					<td class="profile-prefecture">所属:<span><%= @user.prefecture_name %></span></td>
				</tr>
				<% end %>
			</table>
			<div id ="follow-button_<%= @user.id %>" class="follow-button-space">
				<%= render 'relationships/followbutton', user: @user %>
			</div>
		</div>
	</div>
		<!-- プロフィール右側 -->
		<div class= "col-xs-9">
			<div class= "navbar">
				<nav>
					<ul class="nav navbar-nav navbar-right">
							<li class="profile-link"><%= link_to "主催イベント", events_path(event_case: "now",user_id: @user.id) %></li>
							<li class="profile-link"><%= link_to "過去イベント", events_path(event_case: "log",user_id: @user.id) %></li>
							<li class="postcount"><span><%= "投稿件数:#{@post_images.count}" %></span></li>
							<li class="profile-link"><%= link_to "follow:#{@user.followings.count}", user_follows_path(user_id: @user.id) %></li>
							<li class="profile-link"><%= link_to "follower:#{@user.followers.count}", user_followers_path(user_id: @user.id) %></li>
						<% if @user.id == current_user.id %>

						<% else %>
							<% if @isroom == true %>
								<li class= "profile-link"><a href="/rooms/<%= @roomid %>">DM</a></li>
							<% else %>
								<li class="profile-link">
									<%= form_for @room do |f| %>
										<%= fields_for @entry do |e| %>
											<%= e.hidden_field :user_id, :value=> @user.id %>
										<% end %>
										<%= f.submit "DM", class:'dmbutton' %>
									<% end %>
								</li>
							<% end %>
						<% end %>
						<%if @user == current_user %>
							<li class="profile-link"><%=link_to "通知",notifications_path, class:"notification-btn" %>
								<% if unchecked_notifications.any? %>
									<i class="fa fa-circle notification-circle" style="color: gold;"></i>
								<% end %>
							</li>
						<% end %>
						<% if @user == current_user %>
							<li class="profile-link"><%= link_to "会員情報編集", edit_user_path(@user) %></li>
						<% end %>
					</ul>
				</nav>
		    </div>
			<div class="user-introduction">
				<%= @user.introduction %>
			</div>
		</div>
</div>
<div class= "row">
	<div class= "contents-box">
		<% @post_images.each do |image| %>
  			<%= link_to post_image_path(image) do %>
  				<% image.post_image_images.each do |post| %>
					<%= attachment_image_tag post, :image ,size:'150x120', format:'jpg',class:"image" %>
				<% end %>
  			<% end %>
		<% end %>
	</div>
	<%= paginate @post_images,class:"paginate" %>
</div>