<div class="row">
	<div class="col-xs-2">
	</div>
	<div class="col-xs-8">
	<%= form_for(@event) do |f| %>
		<div class="title-box">
			<h3>Title</h3>
			<%= f.text_field :title %>
		</div>
		<div class="body-box">
			<h3>イベント概要</h3>
			<%= f.text_area :body %>
		</div>
		<div class="prefecture">
			<h4>開催エリア:</h4>
			<%= f.collection_select :prefecture_name, JpPrefecture::Prefecture.all,:name,:name, include_blank: true %>
		</div>
		<div class="date-and-time">
			<h4>開催日時:</h4><%= f.datetime_field :date_and_time %>
		</div>
		<div class="meeting-finish-time">
			<h4>終了時刻:</h4><%= f.datetime_field :meetingfinishtime %>
		</div>
		<div class="meetingplace">
			<h4>集合場所</h4><%= f.text_field :meetingplace %>
		</div>
		<div class = "capacity">
			<h4>定員:<%= f.number_field :capacity %></h4>
		</div>
		<%= hidden_field_tag(:user_id, @user.id) %>
		<%= f.submit "変更を保存する",class:'btn btn-default' %>
		<% end %>
		<%= link_to "このイベントを削除する",event_destroy_path(event_id:@event.id),class:"btn btn-default" %>
	</div>
	<div class="col-xs-2">
	</div>
</div>