<div class="row">
	<div class="col-xs-12 col-lg-6 col-md-6 col-sm-12">
		<div class="event-title-new-new">
			<%= form_for(@eventnew) do |f| %>
				<% if @eventnew.errors.any? %>
	  				<div id="error_explanation">
	    				<h4><%= @eventnew.errors.count %>件の入力エラーにより作成出来ませんでした</h4>
	   					<ul>
	    					<% @eventnew.errors.full_messages.each do |msg| %>
	      					<li><%= msg %></li>
	   						<% end %>
	   					</ul>
	  				</div>
				<% end %>
				<h3>新規イベント</h3>
				<h4>Title</h4>
				<%= f.text_field :title %>
		</div>
		<div class="event-body-new">
			<h4>イベント概要</h4>
			<%= f.text_area :body,placeholder: "イベントの詳細を記入して下さい" %>
		</div>
		<div class="event-prefecture-new">
			<h4>開催エリア:  
			<%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all,:code,:name %>
			</h4>
		</div>
		<div class="event-date-and-time-new">
			<h4>開催日時:  <%= f.datetime_field :date_and_time %></h4>
		</div>
		<div class="event-meeting-finish-time-new">
			<h4>終了日時:  <%= f.datetime_field :meetingfinishtime %></h4>
		</div>
		<div class="event-meetingplace-new">
			<h4 class="time">集合場所:  <%= f.text_field :meetingplace %></h4>
		</div>
		<div class = "event-capacity-new">
			<h4>定員:  <%= f.number_field :capacity,value: "指定なし",in: 1..2000 %></h4>
		</div>
			<div class="latitude-longitude-form">
				<%= f.text_field :latitude %>
				<%= f.text_field :longitude %>
			</div>
			<div class="event-new-button">
				<%= f.submit "上記内容で新規イベントを作成",class:'btn btn-default' %>
			<% end %>
			</div>
	</div>
	<div class="col-xs-12 col-lg-6 col-md-6 col-sm-12">
		<div class="new-map">
			<p class="make-map">地図情報の入力もお願いします</p>
			<p>集合場所をクリックしてピンを立ててください</p>
			<%= form_with url: map_request_path, method: :get do |m| %>
  				<%= m.text_field :address %>
  				<%= m.submit '地図表示' %>
			<% end %>

			<div id="map"></div>
			<style>
			#map{
  				height: 500px;
  				width: 100%;
				}
			</style>
			<script>
				let mapInstance;
				let marker = null;
		
		  		function initMap(){
					mapInstance = new google.maps.Map(document.getElementById('map'), {
						center: {lat: -34.397, lng: 150.644},
						zoom: 8
					});

					mapInstance.addListener('click', function(e) {
       					getClickLatLng(e.latLng, mapInstance);
       				});
				}

				function getClickLatLng(lat_lng, mapInstance) {
      				console.log(lat_lng.lat());
      				console.log(lat_lng.lng());
    				document.getElementById('event_latitude').value = lat_lng.lat();
    				document.getElementById('event_longitude').value = lat_lng.lng();

      // マーカーを設置
      				if(marker!=null)
      					marker.setMap(null)
    				marker = new google.maps.Marker({
    					position: lat_lng,
    					map: mapInstance
    				});
      // 座標の中心をずらす
    				mapInstance.panTo(lat_lng);
				}
			</script>
			<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
		</div>
	</div>
</div>

