<div class="row">
	<div class="col-xs-5">
	<%= form_for(@eventnew) do |f| %>
		<div class="title-box">
			<h3>Title</h3>
			<%= f.text_field :title %>
		</div>
		<div class="body-box">
			<h3>イベント概要</h3>
			<%= f.text_area :body,placeholder: "イベントの詳細を記入して下さい" %>
		</div>
		<div class="prefecture">
			<h4>開催エリア:</h4>
			<%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all,:code,:name, include_blank: true %>
		</div>
		<div class="date-and-time">
			<h4>開催日時:</h4><%= f.datetime_field :date_and_time %>
		</div>
		<div class="meeting-finish-time">
			<h4>終了時刻:</h4><%= f.datetime_field :meetingfinishtime %>
		</div>
		<div class="meetingplace">
			<h4>集合場所</h4><%= f.text_field :meetingplace %>
		</div>
		<div class = "capacity">
			<h4>定員:<%= f.number_field :capacity,placeholder: "指定なし" %></h4>
			<%= hidden_field_tag(:user_id, @user.id) %>
			<%= f.text_field :latitude %>
			<%= f.text_field :longitude %>
		<%= f.submit "上記内容で新規イベントを作成",class:'btn btn-default' %>
		<% end %>
		</div>
	</div>
	<div class="col-xs-7">
		<%= form_with url: map_request_path, method: :get do |m| %>
  			<%= m.text_field :address %>
  			<%= m.submit '地図表示' %>
		<% end %>

		<div id="map"></div>
			<style>
			#map{
  				height: 500px;
  				width: 500px;
				}
			</style>
			<script>
				let mapInstance;
				let marker = null;
		
		  		function initMap(){
					mapInstance = new google.maps.Map(document.getElementById('map'), {
					center: {lat: -34.397, lng: 150.644},
					zoom: 8
					});

					mapInstance.addListener('click', function(e) {
       					getClickLatLng(e.latLng, mapInstance);
       				});
				}

				function getClickLatLng(lat_lng, mapInstance) {
      				console.log(lat_lng.lat());
      				console.log(lat_lng.lng());
    				document.getElementById('event_latitude').value = lat_lng.lat();
    				document.getElementById('event_longitude').value = lat_lng.lng();

      // マーカーを設置
      				if(marker!=null)
      					marker.setMap(null)
    				marker = new google.maps.Marker({
    					position: lat_lng,
    					map: mapInstance
    				});
      // 座標の中心をずらす
    				mapInstance.panTo(lat_lng);
					}
			</script>
			<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>


	</div>
</div>
<div class="row">
	
</div>