<h4>参加予定者  <%= "#{@participate.count}人" %></h4>
<div class= "row">
	<table class="table table-hover table-inverse" id="participates-index">
		<thead>
			<tr>
				<th></th>
				<th>name</th>
				<th>prefecture</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @participate.each do |participate| %>
			<tr>
				<td><%= link_to user_path(participate.user) do %>
						<%= attachment_image_tag participate.user, :profile_image, size:'50x50', format:'jpg',fallback: "no_image.jpg" %>
				    <% end %>
				</td>
				<td><%= link_to participate.user.name, user_path(participate.user)%></td>
				<td><%= participate.user.prefecture_name %></td>
				</td>
			</tr>
		    <% end %>
	   </tbody>
	</table>
</div>