<div class= "row">
	<div class= "col-xs-2">
	</div>
	<div class= "col-xs-8">
		<div class= "postimage-update-box">
			<% if @postimage.errors.any? %>
  				<div id="error_explanation">
    				<h4><%= @postimage.errors.count %>件の入力エラーにより更新出来ませんでした。:</h4>
			    	<ul>
    					<% @postimage.errors.full_messages.each do |msg| %>
      						<li><%= msg %></li>
    					<% end %>
    				</ul>
  				</div>
			<% end %>
		<h3>投稿編集</h3>
		<% @postimages.each do |postimage| %>
			  <%= attachment_image_tag postimage, :image,size:'220x160' %>
		<% end %>
		<%= form_with model:@postimage do |f| %>
			<%= f.text_area :body, size:"55x12" %>
			<br>
			<p>ハッシュタグ入力欄</p>
			<%= f.text_area :hashbody, size:"55x3" %>
			<div class="postimage-update">
				<%= f.submit "保存",class:"btn btn-default"%>
			</div>
		<% end %>
		<div class = "postimage-destroy-button">
			<%= link_to post_image_path(@postimage),method: :delete,class:"btn btn-danger" do %>
				<p>削除</p>
			<% end %>
		</div>
	</div>
	<div class= "col-xs-2">
	</div>
</div>