<div class="row">
	<div class= "hashtag-name">
		<div class= "col-xs-3">
			<% @hashtags.each do |hash| %>
				<div class= "hashname">
					<%= link_to  "##{hash.hashname} (#{hash.post_images.count}) 件","/post_image/hashtag/#{hash.hashname}",data: {"turbolinks" => false} %>
				</div>
			<% end %>
		</div>
	</div>
	<% if params[:name] == nil %>

	<% else %>
	<div class= "col-xs-9">
		<div class= "hashtag-postimage-box">
			<h3>#<%= @hashtag.hashname %>:  <%= @postimage.count %> 件 </h3>
				<% @postimage.each do |postimage| %>
		    		<%= link_to post_image_path(postimage),data: {"turbolinks" => false}  do %>
				  		<ul class="slider">
	  						<% postimage.post_image_images.each do |post| %>
	  							<li>
									<%= attachment_image_tag post, :image ,size:'250x200', format:'jpg',class:"image" %>
								</li>
							<% end %>
						</ul>
		 			<% end %>
				<% end %>
			<div class="image-index-pagination">
				<%= paginate @postimage,class:"paginate" %>
			</div>
		</div>
	</div>
	<% end %>
</div>

	







