<div class= "row">
	<div class="postimage-index">
		<% if user_signed_in? %>
			<div class="index-switch">
				<button type="button" class="index-all">
					<%= link_to post_images_path, data: {"turbolinks" => false} do %>
					<span class= "index-all-text">全投稿</span>
					<% end %>
				</button>
				<button type = "button"class="index-follow">
				<%= link_to post_images_path(user_id: current_user.id), data: {"turbolinks" => false} do %>
					<span class="index-follow-text">フォロー</span>
				<% end %>
				</button>
			</div>
		<% end %>
		<% @postimage.each do |image| %>
 			<div class= "post-image-index-post-box">
				<p class="index-post-box-top">
					<%= image.created_at.strftime("%Y/%m/%d")%>
					<% if user_signed_in? %>
						<span id ="favorite-button_<%= image.id %>" class="post-box-top-favorite">
						 <%= render 'post_image_favorites/favorite',postimage: image %>
						</span>
					<% end %>
				</p>
				<div class= "index-post-box-image">
				<%= link_to post_image_path(image),data: {"turbolinks" => false}  do %>
					<ul class="slider">
						<% image.post_image_images.each do |post| %>
							<li>
								<%= attachment_image_tag post, :image ,size:'200x150', format:'jpg',class:"image" %>
							</li>
						<% end %>
					</ul>
				<% end %>
				</div>
				<p class="index-post-box-name">
					<%= link_to user_path(image.user),data: {"turbolinks" => false} do %>
						<%= attachment_image_tag image.user, :profile_image,size:'30x30', format:'jpg',fallback:'no_image.jpg',class:'min-image' %>
						<span class="index-post-box-user"><%= image.user.name %>
						</span>
					<% end %>
				</p>
			</div>
  		<% end %>
	</div>
	<div class="image-index-pagination">
		<%= paginate @postimage,class:"paginate" %>
	</div>
</div>
