<div class="row">
	<div class="col-xs-3">
	</div>
	<div class="col-xs-6">
		<div class="image-show-form">
			<div class="image-show-day-edit">
				<p><%= @postimage.created_at.strftime("%Y-%m-%d(%a)")%>
					<span class="editlink">
						<%= link_to "編集する",edit_post_image_path(@postimage), class:"glyphicon glyphicon-wrench"%>
					</span>
				</p>
			</div>
			<div class= "image-show-image">
				<script src="assets/bxslider.min.js"></script>
				<ul class="bxslider">
					<% @postimages.each do |post| %>
					<li>
						<%= attachment_image_tag post, :image, size:'450x500',class: 'showimage' %>
						<% end %>
					</li>
				</ul>
			</div>
			<div class="image-show-command">
				<p>
					<span class="show-image-user">
						<%=link_to user_path(@user) do %>
      						<%= attachment_image_tag @user, :profile_image,size:'50x50', format:'jpg',fallback:'no_image.jpg',class:'min-image' %>
							<%= @user.name %>
						<% end %>
					</span>
					<span id = "favorite-button_<%= @postimage.id %>" class= "image-show-favorite">
					<%= render partial: 'post_image_favorites/favorite', locals: { postimage: @postimage } %>
					</span>
					<span class="favorite-show">いいね</span>
					<i class="far fa-comments show-comment-count"></i>
					<span class='show-comment-count' id='comment-count_<%= @postimage.id %>'>
						<%= render 'post_image_comments/comment-count', postimage:@postimage %>
					</span>
					<% if @user == current_user %>

						<span class="pv"><%= "閲覧数：#{@postimage.impressionist_count}" %>
						</span>

					<% end %>
				</p>
				<div class="image-show-body-hash">
					<p class="image-show-body"><%= @postimage.body %></p>
					<div class="image-show-hash">
						<p><%= render_with_hashtags(@postimage.hashbody) %>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div id = "favorite-index_<%= @postimage.id %>" class="favorite-modal">
			<%= render partial: 'post_image_favorites/favorite-index', locals: { postimage: @postimage } %>
		</div>
		<div class= "image-show-comment-box">
			<i class="far fa-window-close"></i>
 			<div class="comment-form">
 				<h4>Comment-form</h4>
 					<%= render 'post_image_comments/form', postimage: @postimage, comment: @comment %>
 			</div>
  			<div id ="post-image-comment_<%= @postimage.id %>" class="image-show-comment-index">
 					<%= render 'post_image_comments/comment', postimage: @postimage %>
 			</div>
 		</div>
	</div>
 	<div class="col-xs-3">
 	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$(window).on("load",function(){
		$('html,body').animate(
        	{ scrollTop: $('body').get(0).scrollHeight },
    	);
    });
});
</script>