<div class="row">
		<table class="table table-hover table-inverse">
			<tr>
				<td><%= attachment_image_tag @user,:profile_image,size:'60x45' %></td>
				<td><%= @user.name %></td>
				<td id="follow-buton_<%= @user.id %>">
					<%= render 'relationships/followbutton', user: @user %>
 				</td>
 			</tr>
 		</table>
 		<div class="col-xs-8">
 		<div class="form">
 			<span><%= @postimage.created_at %></span>
 			<% @postimages.each do |post| %>
 			<%= attachment_image_tag post, :image,size:'300x200' %>
 			<% end %>
 			<%= @postimage.body %>
 		</div>
 	</div>
 	<div class="col-xs-2">
 	</div>
	</div>
</div>