<!DOCTYPE html>
<html>
  <head>
    <title>SpMoto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <script src="https://kit.fontawesome.com/cda710863c.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body data-turbolinks="false">
      <header class="head">
        <div class="container">
          <div class="row">
            <div class= "col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <nav>
                <ul class="nav navbar-nav navbar-left">
                  <li class="title-nav-link"><%=link_to root_path, data: {"turbolinks" => false} do %>
                    <span class="logo">SpMoto</span><% end %>
                  </li>
                </ul>
              </nav>
            </div>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 bar-right">
             <i class="fas fa-bars"></i>
             <% if user_signed_in? %>
              <span class="far fa-user" style="color:white"></span>
            <% end %>
          </div>
        </div>
      </div>
      </header>
       <% if user_signed_in? %>
          <div class="head-nav nav">
             <span class="far fa-caret-square-down" style="color:white"></span>
              <p class="nav-link"><%=link_to "マイページ", user_path(current_user),data: {"turbolinks" => false} %></p>
              <p class="nav-link"><%=link_to "投稿一覧", post_images_path,data: {"turbolinks" => false} %></p>
              <p class="nav-link"><%=link_to "会員一覧", users_path %></p>
              <p class="nav-link"><%=link_to "イベント", events_path,data: {"turbolinks" => false} %></p>
              <p class="nav-link"><%=link_to "新規投稿", new_post_image_path %></p>
              <p class="nav-link"><%=link_to "検索", search_path(search:"header") %></p>
              <p class="nav-link"><%= link_to "#",post_image_hashtag_path %></p>
              <p class="nav-link"><%=link_to "ログアウト",destroy_user_session_path,method: :delete %></p>
          </div>
           <i class="fa fa-user-circle-o off" aria-hidden="true"></i>
            <div class="user-info">
                  <p class="user-info-menu menu-top">
                    <%= link_to "主催イベント", events_path(event_case: "now",user_id: current_user.id) %>
                  </p>
                  <p class="user-info-menu">
                    <%= link_to "過去イベント", events_path(event_case: "log",user_id: current_user.id) %>
                  </p>
                  <p class="user-info-menu" id="follow-count_<%= current_user.id %>">
                     <%= render 'relationships/followcount', user: current_user %>
                  </p>
                  <p class="user-info-menu" id="follower-count_<%= current_user.id %>">
                     <%= render 'relationships/followercount', user: current_user %>
                  </p>
                  <p class="user-info-menu">
                    <%= link_to "DM", rooms_path %>
                  </p>
                  <p class="user-info-menu">
                    <% if unchecked_notifications.any? %>
                      <i class="fa fa-circle notification-circle" style="color: gold;"></i>
                    <% end %>
                    <%=link_to "通知",notifications_path, class:"notification-btn" %>
                  </p>
                  <p class="user-info-menu">
                    <%= link_to "会員情報編集", edit_user_path(current_user) %>
                  </p>
            </div>
          <% else %>
            <div class="nav head-nav">
               <span class="far fa-caret-square-down" style="color:white"></span>
              <p class="nav-link"><%=link_to "トップ", root_path, data: {"turbolinks" => false}  %></p>
              <p class="nav-link"><%=link_to "投稿一覧", post_images_path,data: {"turbolinks" => false} %></p>
              <p class="nav-link"><%=link_to "イベント", events_path,data: {"turbolinks" => false} %></p>
              <p class="nav-link"><%=link_to "新規登録", new_user_registration_path %></p>
              <p class="nav-link"><%=link_to "ログイン", new_user_session_path %></p>
            </div>
         

          <% end %>
           

    <div class="container">



    <%= yield %>
    </div>
    <footer class="footer">
        <p class="foot">@SpMoto</p>
    </footer>
  </body>
</html>
