<div class= "row">
  <div class="col-lg-4 col-md-4">
  </div>
  <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">

    <div class= "new-box">
      <h4>Sign Up</h4>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :name, "アカウント名" %><br>
          <%= f.text_field :name, :placeholder => "表示名" ,autofocus: true, autocomplete: "name",size:"30x10" %>
        </div>
        <div class="field">
          <%= f.label :email,"メールアドレス" %><br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",size:"30x10" %>
        </div>
        <br>
        <div class="field">
          <%= f.label :prefecture_code,"都道府県"%>
          <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all,:code,:name, include_blank: true %>
          <br>
        </div>
        <div class="field">
          <%= f.label :password,"パスワード" %><br>
          <%= f.password_field :password, autocomplete: "new-password",placeholder:"6文字以上",size:"30x10" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation,"パスワード確認用" %><br>
          <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder:"確認用",size:"30x10" %>
        </div>
        <br>
        <div class="field upbutton">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>
        <div class="field loginbutton">
          <%= render "users/shared/links" %>
        </div>
  </div>
</div>
  <div class="col-lg-4 col-md-4">
  </div>
</div>